/* Imports */

/* Stiziles */

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;

  user-select: none;
}

@font-face {
  font-family: 'KaushanScript';
  src: url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
       url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
       url('../fonts/kaushanscript-regular-webfont.ttf')  format('truetype'),
       url('../fonts/kaushanscript-regular-webfont.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'KaushanScript', sans-serif;
}

/* main */

#content {
  width: 100%;
  height: 100%;
  background: #000;
}

.viewport {
  outline: 1px solid #444;
}

.game-object {
  position: absolute;
}

.credits {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 190px;
  height: 50px;
  background-color: rgb(33, 33, 33);
  opacity: 0.6;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  color: #fff;

  .name {
    height: 16px;
  }
}

.scene.game {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(50, 50, 180), #0e464e);
}

.button {
  width: 80px;
  height: 80px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #69969c;
  text-align: center;
  cursor: pointer;
  transition: all 400ms;
  background-image: linear-gradient(to bottom, rgb(235, 235, 235), #69969c);

  .icon {
    margin-left: 12px;
    width: 56px;
    height: 56px;
    background-size: cover;

    &.icon-food {
      background-image: url('../images/berries.png');
    }

    &.icon-wood {
      background-image: url('../images/tree.png');
    }

    &.icon-destroy {
      background-image: url('../images/lighting.png');
    }
  }

  .caption {
    text-transform: uppercase;
  }

  &:hover {
    border-color: lighten(#69969c, 10%);
    background-image: linear-gradient(to bottom, rgb(235, 235, 235), lighten(#69969c, 10%));
  }

  &:active {
    background-image: linear-gradient(to top, rgb(235, 235, 235), lighten(#69969c, 10%));
  }
}

.tilemap {
  position: absolute;

  &.placement-food, &.placement-wood {
    .tile-empty:hover {
      outline: 1px solid rgba(255, 255, 255, 0.6);
    }
  }

  &.placement-destroy {
    .tile-house:hover, .tile-tree:hover, .tile-berries:hover {
      outline: 1px solid rgba(255, 255, 255, 0.6);
    }
  }
}

.tile {
  position: absolute;

  &.tile-tree {
    background-image: url('../images/tree.png');
  }

  &.tile-house {
    background-image: url('../images/house.png');
  }

  &.tile-berries {
    background-image: url('../images/berries.png');
  }

  &.tile-church {
    background-image: url('../images/church.png');
  }

  &.tile-grave {
    background-image: url('../images/grave.png');
  }
}

.world {
  background-image: url('../images/world.png');
  width: 768px;
  height: 768px;
  position: absolute;
  top: -144px;
  left: 16px;
}
